<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Driver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" />
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Races</button>
            <div class="dropdown-content">
                <a href="/races">All Races</a>
                <a href="/who_won">Who Won</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn">Drivers</button>
            <div class="dropdown-content">
                <a href="/drivers">All Drivers</a>
                <a href="/driver_stats">Driver Stats</a>
            </div>
        </div>
        <a href="/results">Results</a>
        <a href="/pit_stops">Pit Stops</a>
        <a href="/driver_standings">Driver Standings</a>
        <a href="/sprint_results">Sprint Results</a>            
        <div class="dropdown">
            <button class="dropbtn">Qualifying And Circuit Data</button>
            <div class="dropdown-content">
                <a href="/qualifying">Driver Qualifying Data</a>
                <a href="/circuits">All Circuits</a>
            </div>
        </div>           
    </div>

    <div class="player-card">
        <h2>{{ driver_info[0] }} {{ driver_info[1] }}</h2>
        <img id="driver-image" alt="{{ driver_info[0] }} {{ driver_info[1] }}" class="driver-image">
        <p>Age: {{ age }}</p>
    </div>
    <div class="player-card">
        <p>Total Points: {{ driver_info[3] }}</p>
    </div>
    <div class="player-card">
        <p>Total Wins: {{ driver_info[4] }}</p>
    </div>
    <div class="player-card">
        <p>Average Points: {{ driver_info[5] }}</p>
    </div>
    <div class="player-card">
        <p>Races Won:</p>
        <p>{{ driver_info[6] }}</p>
    </div>
    <script>
        // Function to execute when search results are ready
        function onSearchResultsReady(imageUrl) {
            // Access the fetched image URL
            console.log('Image URL:', imageUrl);

            // Now you have the image URL, you can use it as needed
            // For example, you can update an existing image element on your page
            const driverImage = document.getElementById('driver-image');
            driverImage.src = imageUrl;
            driverImage.alt = '{{ driver_info[0] }} {{ driver_info[1] }}';
        }

        // Function to fetch the image URL based on the driver's name
        function fetchDriverImage(driverName) {
            const apiKey = 'AIzaSyC1R59MvSPtzWnrH0I0K5fYiCStLIKO-Tw';
            const cx = '448215713cebf48f4'; // Your CSE ID

            const apiUrl = `https://www.googleapis.com/customsearch/v1?q=${driverName}&key=${apiKey}&cx=${cx}&searchType=image`;

            // Make a GET request to the CSE API
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    // Extract the first image URL from the search results
                    const imageUrl = data.items && data.items.length > 0 ? data.items[0].link : null;

                    // Call the function to handle the fetched image URL
                    onSearchResultsReady(imageUrl);
                })
                .catch(error => {
                    console.error('Error fetching driver image:', error);
                });
        }

        // Execute customization when the page is loaded
        window.addEventListener('load', function () {
            const driverName = '{{ driver_info[0] }} {{ driver_info[1] }}'; // Concatenate first name and surname
            fetchDriverImage(driverName);
        });
    </script>
</body>
</html>
