<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/results">Results</a>
            <a href="/pit_stops">Pit Stops</a>
            <a href="/driver_standings">Driver Standings</a>
            <a href="/sprint_results">Sprint Results</a>
            <a href="/circuits">Circuits</a>
            <a href="/qualifying">Qualifying</a>
        </div>
    </body>
</html>
