<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name = "viewport" content="width=device-width,
        initial-scale=1.0" />
        <title>F1 - Qualifying</title>
        <link 
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/results">Results</a>
            <a href="/pit_stops">Pit Stops</a>
            <a href="/driver_standings">Driver Standings</a>
            <a href="/sprint_results">Sprint Results</a>
            <a href="/circuits">Circuits</a>
            <a href="/qualifying">Qualifying</a>
        </div>
        <h1>F1 - Qualifying</h1>
        <table>
            <tr>
                <th>Qualify ID</th>
                <th>Race ID</th>
                <th>Driver ID</th>
                <th>Constructor ID</th>
                <th>Car Number</th>
                <th>Final Position</th>
                <th>Qualifying 1 Time</th>
                <th>Qualifying 2 Time</th>
                <th>Qualifying 3 Time</th>
            </tr>
            {% for qualify in qualifying %}
            <tr>
                <td>{{ qualify[0] }}</td>
                <td>{{ qualify[1] }}</td>
                <td>{{ qualify[2] }}</td>
                <td>{{ qualify[3] }}</td>
                <td>{{ qualify[4] }}</td>
                <td>{{ qualify[5] }}</td>
                <td>{{ qualify[6] }}</td>
                <td>{{ qualify[7] }}</td>
                <td>{{ qualify[8] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>