<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name = "viewport" content="width=device-width, initial-scale=1.0" />
        <title>F1 - Qualifying</title>
        <link 
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Races</button>
                <div class="dropdown-content">
                    <a href="/races">All Races</a>
                    <a href="/who_won">Who Won</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Drivers</button>
                <div class="dropdown-content">
                    <a href="/drivers">All Drivers</a>
                    <a href="/driver_stats">Driver Stats</a>
                </div>
            </div>
            <a href="/results">Results</a>
            <a href="/pit_stops">Pit Stops</a>
            <a href="/driver_standings">Driver Standings</a>
            <a href="/sprint_results">Sprint Results</a>            
            <div class="dropdown">
                <button class="dropbtn">Qualifying</button>
                <div class="dropdown-content">
                    <a href="/qualifying">Driver Qualifying Data</a>
                    <a href="/circuits">All Circuits</a>
                </div>
            </div>           
        </div>
        <h1>F1 - Qualifying</h1>

        <form method="post" action="{{ url_for('qualifying') }}">
            <label for="selected_surname">Select Qualifying Driver by Surname:</label>
            <select name="selected_surname" id="selected_surname">
                <option value="">All Drivers</option>
                {% for surname in driver_surnames %}
                    <option value="{{ surname }}" {% if selected_surname == surname %}selected{% endif %}>{{ surname }}</option>
                {% endfor %}
            </select>
            <button type="submit">Select</button>
            <a href="{{ url_for('qualifying') }}"><button type="button">Reset Driver</button></a>
        </form> 

        <table>
            <tr>
                <th>Qualify ID</th>
                <th>Race Date</th>
                <th>Driver Name</th>
                <th>Driver Surname</th>
                <th>Constructor Name</th>
                <th>Number</th>
                <th>Position</th>
                <th>Qualifying 1</th>
                <th>Qualifying 2</th>
                <th>Qualifying 3</th>
            </tr>
            {% for qualify in qualifying %}
            <tr>
                <td>{{ qualify[0] }}</td>
                <td>{{ qualify[1] }}</td>
                <td>{{ qualify[2] }}</td>
                <td>{{ qualify[3] }}</td>
                <td>{{ qualify[4] }}</td>
                <td>{{ qualify[5] }}</td>
                <td>{{ qualify[6] }}</td>
                <td>{{ qualify[7] }}</td>
                <td>{{ qualify[8] }}</td>
                <td>{{ qualify[9] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>