<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>F1 - Race Results</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
    </head>
    <body>
        <div class="topnav">
            <a href="/"
                ><img
                    src="{{ url_for('static', filename='styles/f1_logo.svg') }}"
                    height="30"
                    alt=""
            /></a>
            <div class="dropdown">
                <button class="dropbtn">Races</button>
                <div class="dropdown-content">
                    <a href="/races">All Races</a>
                    <a href="/who_won">Who Won</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Drivers</button>
                <div class="dropdown-content">
                    <a href="/drivers">All Drivers</a>
                    <a href="/driver_stats">Driver Stats</a>
                </div>
            </div>
            <a href="/results">Results</a>
            <a href="/pit_stops">Pit Stops</a>
            <a href="/driver_standings">Driver Standings</a>
            <a href="/sprint_results">Sprint Results</a>
            <div class="dropdown">
                <button class="dropbtn">Qualifying And Circuit Data</button>
                <div class="dropdown-content">
                    <a href="/qualifying">Driver Qualifying Data</a>
                    <a href="/circuits">All Circuits</a>
                </div>
            </div>
        </div>

        <div class="race_top">
            <div
                class="content"
                style="margin-top: 0px; margin-bottom: 0px; padding: 50px 20px"
            >
                <h1 style="font-size: 72px">{{result[1]}}</h1>
                <h1 style="font-size: 84px">{{result[4]}}</h1>
            </div>
        </div>
        <div class="race_buttons">
            <a href="/results/{{ result[0] }}" class="race_button">Results</a>
            <a href="" class="race_button">Qualifying</a>
            <a href="" class="race_button">Pit Stops</a>
        </div>
    </body>
</html>
