<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>F1 - Races</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/style.css') }}"
        />
    </head>
    <body>
        <div class="topnav">
            <a href="/">Home</a>
            <div class="dropdown">
                <button class="dropbtn">Races</button>
                <div class="dropdown-content">
                    <a href="/races">All Races</a>
                    <a href="/who_won">Who Won</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Drivers</button>
                <div class="dropdown-content">
                    <a href="/drivers">All Drivers</a>
                    <a href="/driver_stats">Driver Stats</a>
                </div>
            </div>
            <a href="/results">Results</a>
            <a href="/pit_stops">Pit Stops</a>
            <a href="/driver_standings">Driver Standings</a>
            <a href="/sprint_results">Sprint Results</a>            
            <div class="dropdown">
                <button class="dropbtn">Qualifying And Circuit Data</button>
                <div class="dropdown-content">
                    <a href="/qualifying">Driver Qualifying Data</a>
                    <a href="/circuits">All Circuits</a>
                </div>
            </div>           
        </div>

        <h1>Formula 1 Races</h1>

            
        <form method="post" action="{{ url_for('races') }}">
            <label for="selected_year"></label>
            <select name="selected_year">
                <option value="" selected>All Years</option>
                {% for year in range(1950, 2024) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <button type="submit">Select</button>
            <button type="button" onclick="window.location.href='{{ url_for('races') }}'">Reset</button>
        </form>


        <div style="float: right; margin-top: -25px;">
            <button onclick="openAddModal()">Add New Race</button>
        </div>

        <div id="addModal" class="modal">
            <div class = "modal-content" id="addRaceForm" method="post" action="{{ url_for('add_race') }}">
                <form class = "modal-form" id="addRaceForm" method="post" action="{{ url_for('add_race') }}">

                    <label for="year">Year:</label>
                    <input type="text" name="year" placeholder="Enter Year" required/>

                    <label for="round">Round:</label>
                    <input type="text" name="round" placeholder="Enter Round" required/>

                    <label for="circuitId">Circuit ID:</label>
                    <input type="text" name="circuitId" placeholder="Enter circuit Id" required/>

                    <label for="name">Name:</label>
                    <input type="text" name="name" placeholder="Enter name" required/>

                    <label for="date">Date:</label>
                    <input type="text" name="date" placeholder="Enter date" required/>

                    <label for="time">Time:</label>
                    <input type="text" name="time" placeholder="Enter time" required/>

                    <label for="url">URL:</label>
                    <input type="text" name="url" placeholder="Enter URL" required/>

                    <label for="fp1_date">FP1 Date:</label>
                    <input type="text" name="fp1_date" placeholder="Enter fp1 date" required/>

                    <label for="fp1_time">FP1 Time:</label>
                    <input type="text" name="fp1_time" placeholder="Enter fp1 time" required/>

                    <label for="fp2_date">FP2 Date:</label>
                    <input type="text" name="fp2_date" placeholder="Enter fp2 date" required/>

                    <label for="fp2_time">FP2 Time:</label>
                    <input type="text" name="fp2_time" placeholder="Enter fp2 time" required/>

                    <label for="fp3_date">FP3 Date:</label>
                    <input type="text" name="fp3_date" placeholder="Enter fp3 date" required/>

                    <label for="fp3_time">FP3 Time:</label>
                    <input type="text" name="fp3_time" placeholder="Enter fp3 time" required/>

                    <label for="quali_date">Quali Date:</label>
                    <input type="text" name="quali_date" placeholder="Enter quali date" required/>

                    <label for="quali_time">Quali Time:</label>
                    <input type="text" name="quali_time" placeholder="Enter quali time" required/>

                    <label for="sprint_date">Sprint Date:</label>
                    <input type="text" name="sprint_date" placeholder="Enter sprint date" required/>

                    <label for="sprint_time">Sprint Time:</label>
                    <input type="text" name="sprint_time" placeholder="Enter sprint time" required/>

                    <button type="submit">Add Race</button>
                    <button type="button" onclick="closeAddModal()">Cancel</button>
                </form>
            </div>
        </div>

                
        <!-- Edit Race Modal -->
        <div id="editModal" class="modal">
            <div class="modal-content" id="editRaceForm">
                <form class="modal-form" method="post" action="{{ url_for('edit_race') }}">
                    <label for="raceId">Race ID:</label>
                    <input type="text" name="raceId" id="raceId" required readonly/>
                    
                    <label for="year">Year:</label>
                    <input type="text" name="year" id="year" required/>

                    <label for="round">Round:</label>
                    <input type="text" name="round" id="round" required/>

                    <label for="circuitId">Circuit ID:</label>
                    <input type="text" name="circuitId" id="circuitId" required/>

                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name" required/>

                    <label for="date">Date:</label>
                    <input type="text" name="date" id="date" required/>

                    <label for="time">Time:</label>
                    <input type="text" name="time" id="time" required/>


                    <label for="url">URL:</label>
                    <input type="text" name="url" id="url" required/>

                    <label for="fp1_date">FP1 Date:</label>
                    <input type="text" name="fp1_date" id="fp1_date" required/>

                    <label for="fp1_time">FP1 Time:</label>
                    <input type="text" name="fp1_time" id="fp1_time" required/>

                    <label for="fp2_date">FP2 Date:</label>
                    <input type="text" name="fp2_date" id="fp2_date" required/>

                    <label for="fp2_time">FP2 Time:</label>
                    <input type="text" name="fp2_time" id="fp2_time" required/>

                    <label for="fp3_date">FP3 Date:</label>
                    <input type="text" name="fp3_date" id="fp3_date" required/>

                    <label for="fp3_time">FP3 Time:</label>
                    <input type="text" name="fp3_time" id="fp3_time" required/>

                    <label for="quali_date">Quali Date:</label>
                    <input type="text" name="quali_date" id="quali_date" required/>

                    <label for="quali_time">Quali Time:</label>
                    <input type="text" name="quali_time" id="quali_time" required/>

                    <label for="sprint_date">Sprint Date:</label>
                    <input type="text" name="sprint_date" id="sprint_date" required/>

                    <label for="sprint_time">Sprint Time:</label>
                    <input type="text" name="sprint_time" id="sprint_time" required/>

                    <button type="submit">Save Changes</button>
                    <button type="button" onclick="closeEditModal()">Cancel</button>
                </form>
            </div>
        </div>

        {% if selected_year and races %}
        <table>
            <tr>
                <th>Year</th>
                <th>Round</th>
                <th>Name</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for race in races %}
                <tr>
                    <td>{{ race[1] }}</td>
                    <td>{{ race[2] }}</td>
                    <td>{{ race[4] }}</td>
                    <td>{{ race[5] }}</td>
                    
                    <td>
                        <button type="button" onclick="openEditModal('{{ race[0] }}')">Edit</button>
                        <form method="post" action="{{ url_for('delete_race', race_id=race[0]) }}">
                            <button class="delete" type="submit" onclick="return confirm('Are you sure you want to delete this race?')">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    

        
         <!-- ... (JavaScript code for modals) -->
         
            <script>
                function openEditModal(raceId) {
                    document.getElementById("raceId").value = raceId;
                    document.getElementById("editModal").style.display = "block";
                }
    
                function closeEditModal() {
                    document.getElementById("editModal").style.display = "none";
                }
    
                function openAddModal() {
                    document.getElementById("addModal").style.display = "block";
                }
            
                function closeAddModal() {
                    document.getElementById("addModal").style.display = "none";
                }
            </script>
        
    </body>
</html>
