<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width,
        initial-scale=1.0"
        />
        <title>Who Won?</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static',filename='styles/style.css') }}"
            <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,500;1,600&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="topnav">
            <a href="/"
                ><img
                    src="{{ url_for('static', filename='styles/f1_logo.svg') }}"
                    height="30"
                    alt=""
            /></a>
            <div class="dropdown">
                <button class="dropbtn">Races</button>
                <div class="dropdown-content">
                    <a href="/races">All Races</a>
                    <a href="/who_won">Who Won</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">Drivers</button>
                <div class="dropdown-content">
                    <a href="/drivers">All Drivers</a>
                    <a href="/driver_stats">Driver Stats</a>
                </div>
            </div>
            <a href="/results">Results</a>
            <a href="/pit_stops">Pit Stops</a>
            <a href="/driver_standings">Driver Standings</a>
            <a href="/sprint_results">Sprint Results</a>
            <div class="dropdown">
                <button class="dropbtn">Qualifying And Circuit Data</button>
                <div class="dropdown-content">
                    <a href="/qualifying">Driver Qualifying Data</a>
                    <a href="/circuits">All Circuits</a>
                </div>
            </div>
        </div>

        <div class="content">
            <h1>Who Won the Race?</h1>
            <table>
                <thead>
                    <tr>
                        <th>Race Name</th>
                        <th>Winner</th>
                    </tr>
                </thead>
                <tbody>
                    {% for race in races %}
                    <tr>
                        <td>{{ race.race_name }}</td>
                        <td>{{ race.winner }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
